body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    margin-left:20px;
    margin-right:50px;
    width:75%;
    background-image: url("images/back2.jpg");
    background-attachment:fixed;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-weight:lighter; */
}

h4 {
    margin-bottom:-8px;
}

h2 {
    margin-top:30px;
}

p, blockquote, li {
    font-weight:400;
    font-size:80%;
    /* text-align:justify; */
}

a {
    text-decoration:none;
    font-weight: bold;
    color: black;
}

a:hover {
    text-decoration:underline;
}

.container{
    margin: auto;
    padding:30px;
    width:70%;
    min-width:700px;
    background:white;
}

.black-border {
    border: 1px black solid;
}

.display-none {
    display:none;
}

.width-100 {
    width: 100%;
}

.page-margin {
    margin-left: 40px;
}

.print-friendly h1 {
    font-size:1.8em;
}

.print-friendly h2 {
    font-size:1.2em;
}

.print-friendly a {
    text-decoration:none;
    color:black;
}

.print-friendly h3 {
    font-size:.9em;
}

.print-friendly img {
    height: 96px;
    width: 96px;    
}

.link-list{
    margin-left:-20px;
}

@media print {
    .pagebreakbefore {
        page-break-before: always;
        margin-top:100px;
    }

    .pagebreakbefore::after {
        width:80%;
        content:"cv Samson Monballiu";
        font-size: .8em;
        border-top: 1px solid #bbb;
        position:fixed;
        bottom:30px;
    }

    a {
        font-weight:normal;
    }

    .portfolio-links a[href]:after{
        font-weight: normal;
        content: "\a (" attr(href) ")";
        white-space: pre;
        font-size : .8em;
    }

  }

  

.kolom
{
    width:35%;
    display: inline-block;
    margin: auto;
    vertical-align: text-top;
}

.kolom h3 {
    margin-top:0px;
    margin-bottom:0px;
}

.kolom p {
    margin-top:6px;
}


.hoofding
{
    text-align: center;
    border-bottom: 1px black solid;
    margin-left: 10px;
    margin-right: 10px;
}

li
{
    list-style-type:initial;
    margin-top:3px;
    /* font-style: oblique; */
    /* margin-bottom: -10px; */
}

img {
    margin-left:10px;
}

.border1px {
    border: 1px black solid;
}

.inline {
    display: inline;
}

.headerItem{
    margin-left:10px;
    font-size:1.0em;
    font-weight:500;
}

